body {
    text-align: center;
}

.container {
    margin-top: 50px;
}

.rounded-box {
    background-color: #f5e7e8;
    border-radius: 45px;
    padding: 20px;
    margin: 10px auto;
    max-width: 600px;
    font-size: 40px;
    font-family: 'Impact';
}

.navbar {
    width: 100%;
    background: #fff4f7; 
    padding: 10px 0;
}

.navbar-nav .nav-link {
    background-color: #f5e7e8; 
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #f5e7e8; 
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.navbar-nav .navbar-navselect .nav-link {
    background-color: #d63384; 
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #f5e7e8; 
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}


.navbar-nav .nav-link:hover {
    background-color: #d63384; 
    color: white;
}

.nav-item {
    margin: 0 10px;
}

.nav-item:first-child {
    margin-left: 60px; 
}

.rounded-box2 {
    background-color: #f5e7e8; 
    border-radius: 45px;
    padding: 20px;
    margin: 10px auto;
    max-width: 300px;
    margin-top: 10px ;
    font-size: 22px;
    font-family: 'Poppins', Snell Rouhand, cursive;
}
.rounded-box3 {
    background-color: #f5e7e8; 
    border-radius: 45px;
    padding: 20px;
    margin: 10px auto;
    max-width: 1500px;
    margin-top: 10px ;
    font-size: 22px;
    font-family: 'Poppins', Snell Rouhand, cursive;
}
.custom-button {
    background-color: #f5e7e8; 
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #f5e7e8;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    font-size : 20px;
}

.custom-button:hover {
    background-color: #d63384; 
    border-color: #d63384;
}

#options-container {
    display: none; 
    margin-top: 20px;
    background-color: #f5e7e8;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
}
.logout-btn {
    background-color: #d63384;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 200px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.logout-btn:hover {
    background-color: #a12266;
}

.uploaded-image {
    width: 60%; 
    height: auto;
    max-width: 300px; 
}


        .rounded-box2 {
            background-color: #f5e7e8; 
            border-radius: 45px;
            padding: 20px;
            margin: 10px auto;
            max-width: 500px;
            margin-top: 20px ;
            font-size: 25px;
            font-family: 'Poppins', Snell Rouhand, cursive;
        }
        .custom-button {
            background-color: #f5e7e8; 
            color: black;
            font-weight: bold;
            padding: 10px 20px;
            border: 2px solid #f5e7e8;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
            font-size : 20px;
        }

        .custom-button:hover {
            background-color: #d63384; 
            border-color: #d63384;
        }

        #options-container {
            display: none; /* Caché par défaut */
            margin-top: 20px;
            background-color: #f5e7e8;
            padding: 20px;
            border-radius: 10px;
            max-width: 800px;
            margin: 20px auto;
        }